---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <title>Markdown Viewer</title>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    {% if page.use_math %}
    {% include mathjax_support.html %}
    {% endif %}
  </head>
  <body>
    <div id="markdown-content"></div>

    <script>
        // Fetch the Markdown file and convert it to HTML
        fetch('index.md')
            .then(response => response.text())
            .then(mdText => {
                var converter = new showdown.Converter();
                var html = converter.makeHtml(mdText);
                document.getElementById('markdown-content').innerHTML = html;
            })
            .catch(err => console.error(err));
    </script>
</body>
</html>
